.mt-alert {
    margin-top: 13rem;
    margin-left: 47.8rem;
    margin-right: 47.8rem;
}
.input-group-append {
    cursor: pointer;
  }
  .login-box {
    width: 80%; /* Adjust the width as needed */
    max-width: 400px; /* Add a maximum width to prevent it from overflowing */
    margin: 0 auto; /* Center the login box horizontally */
  }
  @media (max-width: 576px) {
    .navbar .container h5 {
      font-size: 14px;
    }
  }